html,
body {
  //   background: white;
  // height: 100000px;
}

$red-fill: #ff5050;
@keyframes glowing {
  0% {
    fill: $red-fill;
  }
  50% {
    fill: black;
  }
  100% {
    fill: $red-fill;
  }
}

#soundcloud,
#spotify,
#bandcamp {
  animation: glowing 5000ms infinite;
  cursor: pointer;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

#player-open {
  animation: floating 2000ms infinite;
  transition: opacity 2s;
}

button,
#pause,
#play,
#player-close,
#pick-device,
.device {
  cursor: pointer;
}

.playing {
  fill: #59ffc5 !important;
}

.device-box-container {
  position: absolute;
  padding: 6px 15px 3px;
  background: #8a8eff;
  border-radius: 5px;
  text-align: "center";
  font-family: Arial;
  max-width: 190px;
}

.bottom-notch {
  position: absolute;
  left: 39.7%;
  width: 40px;
  bottom: -10px;
  // opacity: 0;
  polyline {
    fill: #8a8eff !important;
  }
}

// this is the actual slider
.slider {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  opacity: 0;
  cursor: pointer;
}

// this is the slider icon
#star-container {
  position: absolute;
  display: "none";
}
#muted-cross {
  display: none;
}
#static-volume-icon {
  cursor: pointer;
}

#volume-target {
  opacity: 0;
}

#video-wrapper {
  // width: 293px;
  overflow: hidden;
  display: block;
  position: absolute;
  // top: 304px;
  left: 2px;
}
video {
  // width: 295px;
  display: none;
  opacity: 0;
  transition: opacity 5s;
}
